{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Document</title>
{% endblock head %}

{% block header_class %}
    <header class="header--form-page">
{% endblock header_class %}

{% block header_content %}
      <div class="slogan container container--90">]
      {% if info %}
          {% if info == "confirmed" %}
              <h2>
                Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
                informacje o odbiorze.
              </h2>
          {% else %}
              <h2>
                Przesłane dane są nie prawidłowe.
                  <br>
                  <div class="btn">
                      <a href="{% url 'add-donation' %}">Powrót</a>
                  </div>
              </h2>
          {% endif %}
      {% endif %}
      </div>
    </header>
{% endblock header_content %}

