{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Document</title>
{% endblock head %}

{% block header_class %}
    <header>
{% endblock header_class %}

{% block header_content %}
    </header>
{% endblock header_content %}

{% block content %}
    <section class="login-page" id="login">
      <h2>Zaloguj się</h2>
      <form method="post">
          {% csrf_token %}
          {% for f in form %}
        <div class="form-group">
          {{ f }}
            {% if f.name == "password" %}
                <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
            {% endif %}
        </div>
          {% endfor %}
        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}#register" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>

{% endblock content %}
